body {
    background-color: #141414;
    font-family: Arial, Helvetica, sans-serif;
}

/* SEARCH */
.search-box {
    background-color: #000;
    border: 1px solid #555;
    color: white;
}

/* BANNER */
.banner {
    height: 60vh;
    background: url("images/banner.jpg") center/cover no-repeat;
    position: relative;
}

.banner-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #000 40%, transparent);
}

.banner-content {
    position: absolute;
    bottom: 20%;
    left: 5%;
}

/* MOVIE CARDS */
.movie-card {
    background: none;
    border: none;
    transition: transform 0.3s ease;
    
}

.movie-card img {
    border-radius: 8px;
}

.movie-card:hover {
    transform: scale(1.1);
    z-index: 5;
}

/* HORIZONTAL SCROLL */
.movie-row {
    overflow-x: auto;
    flex-wrap: nowrap;
}

.movie-row::-webkit-scrollbar {
    display: none;
}
.movie-link {
    text-decoration: none;
}
